<html>
<table class="quick-stats">
  <thead>
    <td>&nbsp;</td>
    <td>Current</td>
    <td>Goal</td>
    <td>% of goal</td>
  </thead>
  <tr>
    <td>Individual odonates scanned*</td>
    <td>{{site.data.stats.indivs.c}}</td>
    <td>{{site.data.stats.indivs.g}}</td>
    <td>{{site.data.stats.indivs.p}}</td>
  </tr>
  <tr>
    <td>Species begun (1+ scan)</td>
    <td>{{site.data.stats.spp_started.c}}</td>
    <td>{{site.data.stats.spp_started.g}}</td>
    <td>{{site.data.stats.spp_started.p}}</td>
  </tr>
  <tr>
    <td>Halfway-completed species (10+ scans)</td>
    <td>{{site.data.stats.spp_half.c}}</td>
    <td>{{site.data.stats.spp_half.g}}</td>
    <td>{{site.data.stats.spp_half.p}}</td>
  </tr>
  <tr>
    <td>Completed species*</td>
    <td>{{site.data.stats.spp_comp.c}}</td>
    <td>{{site.data.stats.spp_comp.g}}</td>
    <td>{{site.data.stats.spp_comp.p}}</td>
  </tr>
  <tr>
    <th colspan="4">*doesn't include "extra" scans above & beyond our goal<br/>**completed species = 10 ♂ + 10 ♀</th>
  </tr>
</table>
</html>
