---
---

@import "{{ site.theme }}";

// Style menu
table.menu {
    border: 0px;
    text-align:  center;
    width: 100%;
}
table.menu td {
    border: 0px;
}

// Style back-to-top arrows next to section headers
h2 img {
    width: 25px;
    vertical-align: bottom;
    float: right;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}


// Change font family
body, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #181916; // eerie black
}

// Links color
a, a:hover, a:visited {
  color: #5B974F; // middle green
}
// a:visited {
//   color: #3A6133; // mughal green
// }

// Style images in body
section img {
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

// Style images in body
p.scan img {
    max-width: 60%;
}
