---
---

@import "{{ site.theme }}";

/*--- TYPOGRAPHY ------------------------------------------------------------*/

$base-font                       : 'Lato'; // 'Merriweather';
$heading-font                    : 'Lato';
$caption-font                    : $base-font;

/*--- COLORS ----------------------------------------------------------------*/

$base-color                      : rgba(#222,0.8);
$text-color                      : #181916; // eerie black
$site-color                      : #5B974F; // middle green
$link-color                      : $site-color;

// Style menu
table {

  &.quick-stats tr th {
    font-weight: normal;
    font-size: 80%;
  }
}

// TEXT
body, p, span, h3, h4, h5, h6 {
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

body, p, span {
  font-family: $base-font;
}

// LINKS
a {
  color: $link-color;

  &:hover {
    color: $link-color;
  }

  &:visited {
    color: $link-color;
  }
}

// FIGURES & IMAGES
figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    margin-bottom: 0px;
		// border-radius: 20px;
  }

	figcaption {
		font-size: 80%;
		padding: 0 20px 0 20px;
	}
}

img {
  max-width: 100%;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

// Style scan example
figure.scan {
    max-width: 60%;
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

// NAVIGATION BAR
.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
	    padding-left: 10px;
	    padding-right: 10px;
	    display: inline-block;
    }

    a {
      font-family: $heading-font;
    	text-transform: uppercase;
      font-weight: bold;

	    &:hover, &:visited {
	    	text-transform: uppercase;
	      color: lighten($link-color,10);
	    }
			&:visited {
	    	text-transform: uppercase;
	      color: $link-color;
	    }
		}

}

// BACK-TO-TOP FLOATING BUTTON
.top-icon {
	width: 35px;
	height: 35px;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	text-indent: -9999px;
	background: url("../top.svg") no-repeat;
	border: none;
	outline: none;
	margin: 10px;
	opacity: 0.8;
}

// HORIZONTAL LINE
hr {
  background: $text-color;
  opacity: 0.5;
}
